$padding: 0.4em;
$margin: 0.4em;
.menu-dos {
    margin-top: 3em;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        text-align: center;
        width: auto;
        padding: $padding;
        margin: $margin;
    }
    li {
        display: inline;
        align-items: center;
    }
}